.container {
  display: flex;
  flex-direction: column;
  margin: {
    bottom: $marginM;
  }
}

.label {
  margin-bottom: $marginXS;
}

.input {
  padding: $marginS;
  border-radius: $marginXS;
  font-size: inherit;
  border: 1px solid $primaryColor;

  &.errorInput {
    border-color: $warningColor;
  }
}

.error {
  text-align: right;
  color: $warningColor;
}
