.form {
  margin: {
    bottom: $marginL;
  }

  > p {
    color: $primaryColor;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
  }
}

.container {
  display: flex;
}

.button {
  @extend %button;
  @include coloriseBtn($primaryColor);
  color: $backgroundColor;
  margin-left: $marginS;
}

.input {
  flex: 1 1 auto;
  resize: vertical;
  height: auto;
  padding: $marginS;
  border-radius: $marginXS;
  font-size: inherit;
  border: 1px solid $primaryColor;
}
