.container {
  margin: {
    left: auto;
    right: auto;
  };
  max-width: $pageWidth;
  padding: {
    left: $paddingPageSide;
    right: $paddingPageSide;
  };

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
