@mixin coloriseBtn($color) {
  background-color: $color;
  border-color: darken($color, 20%);
  box-shadow: inset 0 -2px 0 0  darken($color, 20%);
  text-decoration: none;
  transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
  border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

  &[disabled],
  &.disabled {
    &,
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    box-shadow: none;
  }

  &:hover,
  &:active {
    background-color: lighten($color, 15%);
  }
}
