$backgroundColorShade: rgb(246, 250, 253);
$backgroundColor: rgb(246, 246, 246);
$primaryColor: rgb(53, 157, 240);
$primaryColorHover: rgb(43, 131, 212);
$warningColor: rgb(253, 118, 111);
$secondaryColor: rgb(61, 196, 134);
$marginXS: 4px;
$marginS: 8px;
$marginM: 16px;
$marginL: 32px;
$pageWidth: 850px;
$paddingPageSide: 3%;
