.container {
  text-align: center;
  padding-top: $marginM;

  nav {
    display: flex;
    justify-content: center;
  }

  h1 {
    margin: {
      bottom: $marginM;
      top: 0;
    }
  }
}

.navItem {
  @extend %button;
  @include coloriseBtn($secondaryColor);
  color: $backgroundColor;

  & + .navItem {
    margin-left: $marginM;
  }
}
