* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: $backgroundColor;
  min-height: 100%;
  display: flex;
  > div {
    flex: 1;
  }
}

:global {
  .js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }
}
